__pycache__
old
mehs
result
results_humanoid_2023/video_digit
results_humanoid_2023/video_talos
results_humanoid_2023/video_kangaroo
results_humanoid_2023/video_disney
results_humanoid_2023/video_wl16
.gif
img_vid
.mp4
.egg-info
